<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content parallax>
  <ion-grid *ngFor="let x of userData">
    <ion-card>
    <ion-img src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" style="width: 300px; height: 150px;  display: block;
    margin-left: auto;
    margin-right: auto;
     " ></ion-img>
    
    <ion-col class="ion-text-center" size="12">
        <p>{{ x.firstName + ' ' + x.lastName}}</p>
        <b><p>Points: {{ x.point }}</p></b>
        
      </ion-col>
      
    </ion-card>
    <ion-button expand="block" color="danger" size="large" (click)="logout()">Logout</ion-button>
  </ion-grid>
</ion-content>
