
<ion-tabs>
  <ion-tab-bar color="success">
    <ion-tab-button tab="browse">
      <ion-label>Browse</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="points">
      <ion-label>Points</ion-label>
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-label>User</ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
