<!-- <ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
      <h4 class="ion-no-margin">
        <ion-text color="light" class="fw700">
          Login
        </ion-text>  
      </h4>
    </div>

    <form [formGroup]="validations_form" class="list-form" (ngSubmit)="loginUser(validations_form.value)">
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.email">
        <p ion-text class="text08"
        *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
        <ion-text color="warning">
          {{ validation.message }}
        </ion-text>
      </p>
      </ng-container>
      

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.password">
        <p ion-text color="warning" class="text08"
        *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
        <ion-text color="warning">
          {{ validation.message }}
        </ion-text>
      </p>
      </ng-container>

      <p class="ion-text-right" tappable class="paz">
        <ion-text color="light">
          <strong>Forgot Pass?</strong>
        </ion-text>
      </p>

      <div>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" type="submit" tappable>
          <ion-icon name="log-in"></ion-icon>
          Sign In
        </ion-button>

        <p class="ion-text-center">
          <ion-text color="light">
            Or Signin with:
          </ion-text>
        </p>

        <ion-grid class="btn-group">
          <ion-row>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button shape="round" expand="full" color="secondary">
                <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>

    <div class="ion-text-center ion-margin-top">
      <span (click)="goToRegisterPage()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content> -->

<ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
      <h4 class="ion-no-margin">
        <ion-text color="light" class="fw700">
          Login
        </ion-text>  
      </h4>
    </div>

    <form>
      <div>
        <br>
        <br>
        <p class="ion-text-center">
          <ion-text color="light">
            Sign In As:
          </ion-text>
        </p>

        <ion-grid class="btn-group">
          <ion-row>
            <ion-col size="6">
              <ion-button shape="round" expand="full" color="secondary" (click)="goToLoginUser()">
                User
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button shape="round" expand="full" color="secondary" (click)="goToLoginMerchant()">
                Merchant
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>

    <div class="ion-text-center ion-margin-top">
      <span (click)="goToRegisterPage()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>