<ion-header>
  <ion-toolbar>
    <ion-title>Points</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-grid>
    <ion-row>


      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
          <ion-card>
            <ion-col size="12" size-sm="8" offset-sm="2" text-center>
              Test
            </ion-col>
            <ion-col size="12" size-sm="8" offset-sm="2" text-center>
              Test
            </ion-col>
            <ion-col size="12" size-sm="8" offset-sm="2" text-center>
              Test
            </ion-col>
            <ion-col size="4" size-sm="8" offset-sm="2" text-center>
                <ion-icon name="cash"></ion-icon>
            </ion-col>
            <ion-col size="8" size-sm="8" offset-sm="2" text-center>
                <ion-label>500</ion-label>
            </ion-col>
          </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content class="card-background-page ion-padding">
  <ion-grid>
    <ion-row>
        <ion-col width-50 *ngFor="let vouch of loadedVoucher">
          <ion-card>
            <ion-img [src]="vouch.imgUrl" (click)="buyVouch(vouch.id)"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ vouch.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ vouch.qty }} Listings
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
  </ion-grid>
  </ion-content>